/* myForm.css under the bootstrap.css */

/* 초기에는 모든 help-block을 보이지 않게 한다. */
#memberForm .help-block{
	display: none;
}
.form-control-feedback{
	display: none;
}
#loginForm .help-block{
	display: none;
}

tr{
	height: 36px;
}

th{
	text-align: center;
	background-color: yellow;
}

.tdCenter{
	text-align: center;
}
.tdLeft{
	padding-left: 20px;
}
