@charset "utf-8"; 
/* 한글 인코딩 설정 */
/*-------------------------------------------*/
body{
	margin: 0;
}
a{
	text-decoration: none;
}
/*-------------------------------------------*/
/*             headerDiv 디자인              */
/*-------------------------------------------*/
.headerMenu{		/* 1.1 headerMenu */
	position: relative;
	background-color: #337755;
}
.headerMenu a{
	width: 100%;
	height: 25px;
	line-height: 25px;
	font-size: 13px;
	text-align: center;
	display: inline-block;
	color: #ffffff;
}
.headerMenu a:hover{
	width: 100%;
	height: 25px;
	line-height: 25px;
	display: inline-block;
	border-radius: 5px;
	background-color: #33bb77;
}
.headerTitle{		/* 1.2 headerTitle */
	position: relative;
	height: 150px;
	line-height: 150px;
	font-size: 40px;
	text-align: center;
	background-color: #ffffff;
}
.headerTitle a{		/* 1.2 headerTitle */
	line-height: 150px;
	color: #000000;
}
.menuBar{			/* 1.3 mainMenu */
	position: relative;
	background-color: #337755;
}
/*-------------------------------------------*/
/*             mainMenu 디자인               */
/*-------------------------------------------*/
.mainMenu ul{
	margin: 0 auto;
	list-style-type: none;
}
.mainMenuUl li{
	height: 50px;
	text-align: center;
	display: inline-block;
}
.mainMenuLi a{
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 17px;
	color: #ffffff;
	display: inline-block;
}
.mainMenuLi a:hover{
	height: 50px;
	line-height: 50px;
	color: #ffffff;
	display: inline-block;
	background-color: #33bb77;
	border-radius: 10px;
}
/*-------------------------------------------*/
/*             Contents 디자인               */
/*-------------------------------------------*/
.leftContents, .mainContents, .rightContents{
	margin-top: 10px;
}
.leftContentsFull, .rightContentsFull{
	width: 100%;
	height: 660px;
	border: 1px solid #aabbcc;
	border-radius: 10px;
}
.mainLeft100, .mainRight100{
	width: 100%;
	height: 120px;
	border: 1px solid #aabbcc;
	border-radius: 10px;
}
.mainLeft200, .mainRight200{
	width: 100%;
	height: 270px;
	border: 1px solid #aabbcc;
	border-radius: 10px;
}.mainLeft300, .mainRight300{
	width: 100%;
	height: 270px;
	border: 1px solid #aabbcc;
	border-radius: 10px;
}
.footer{			/* 2.4 footerDiv */
	margin-top: 10px;
	position: relative;
	height: 100px;
	border: 1px solid #aabbcc;
	border-radius: 10px;
}
/*-------------------------------------------*/
/*             Calendar 디자인               */
/*-------------------------------------------*/
.calendarTitle{
	margin: 15px 0px;
	padding: 5px 0 0 30px;
	font-size: 18px;
}
.weeklyMove{
	margin: 15px 0px;
}
.calendarText{
	color: blue;
	font-size: 16px;
	font-weight: bold;
}
.calendarDate td{
	width: 5%;
	text-align: center;
	font-size: 17px;
	border: 1px;
	cursor: pointer;
}
.redColor{
	color: red;
}
.blueColor{
	color: blue;
}
.todayDate{
	background-color: pink;
	border-radius: 5px;
}
.clickedDate{
	color: white;
	background-color: green;
	border-radius: 5px;
}
/*-------------------------------------------*/
/*           Company Name 디자인             */
/*-------------------------------------------*/
.designCompanyName{
	margin: 20px 0;
	font-size: 20px;
}
.designCompanyName label{
	padding-top: 3px;
}
.designCompanyName input{
	width: 100%;
	font-size: 18px;
}
.subulProcess label{
	font-size: 17px;
}
#subulProcessSearch{
	width: 50%;
	height: 26px;
	font-size: 16px;
}
/*-------------------------------------------*/
/*            Item Table 디자인              */
/*-------------------------------------------*/
.alignCenter{
	text-align: center;
}
.alignRight{
	text-align: right;
}
#itemNameLabel{
	margin-left: 30px;
	font-size: 16px;
}
.itemCodeLabel{
	text-align: right;
	font-size: 16px;
	margin-bottom: 5px;
}
.itemCodeLabel span{
	margin-right: 26px;
}
#itemCodeList{
	width: 102%;
	height: 155px; 
	overflow: auto;
	padding-left: 20px;
}
.itemNameList, .orderProcess{
	font-weight: bold;
	color: #227744;
	cursor: pointer;
}
/*-------------------------------------------*/
/*         오른쪽 수불화면  디자인           */
/*-------------------------------------------*/
.subulTitle{
	margin-top: 15px;
	font-size: 17px;
	display: inline-block;
}
.subulCustomer label{
	margin-top: 20px;
	font-size: 17px;
}
#subulCustomerSearch{
	width: 50%;
	height: 26px;
	font-size: 16px;
	display: inline-block;
}
.subulProduct label{
	margin-top: 15px;
	padding-left: 5px;
	font-size: 17px;
}
#subulProductName{
	margin-left: 10px;
	width: 60%;
	display: inline-block;
}
.subulBoxing label{
	margin-top: 15px;
	font-size: 17px;
}
#boxingWeight{
	width: 50%;
	height: 26px;
	font-size: 16px;
	display: inline-block;
}
.subulInput{
	margin-top: 10px;
}
.subulInputLabel{
	font-size: 16px;
	padding: 10px 0;
}
#subulInputList{
	width: 102%;
	height: 115px; 
	overflow: auto;
	padding-left: 20px;
}
.subulInputQty{
	width: 100%;
	text-align: right;
}
