@charset "utf-8"; 
/* 한글 인코딩 설정 */
/*-------------------------------------------*/
body{
	margin: 0;
}
a{
	text-decoration: none;
}
/*-------------------------------------------*/
/*             headerDiv 디자인              */
/*-------------------------------------------*/
.headerMenu{		/* 1.1 headerMenu */
	position: relative;
	background-color: #337755;
}
.headerMenu a{
	width: 100%;
	height: 25px;
	line-height: 25px;
	font-size: 13px;
	text-align: center;
	display: inline-block;
	color: #ffffff;
}
.headerMenu a:hover{
	width: 100%;
	height: 25px;
	line-height: 25px;
	display: inline-block;
	border-radius: 5px;
	background-color: #33bb77;
}
.headerTitle{		/* 1.2 headerTitle */
	position: relative;
	height: 150px;
	line-height: 150px;
	font-size: 40px;
	text-align: center;
	background-color: #ffffff;
}
.headerTitle a{		/* 1.2 headerTitle */
	line-height: 150px;
	color: #000000;
}
.menuBar{			/* 1.3 mainMenu */
	position: relative;
	background-color: #337755;
}
/*-------------------------------------------*/
/*             mainMenu 디자인               */
/*-------------------------------------------*/
.mainMenu ul{
	margin: 0 auto;
	list-style-type: none;
}
.mainMenuUl li{
	height: 50px;
	text-align: center;
	display: inline-block;
}
.mainMenuLi a{
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 17px;
	color: #ffffff;
	display: inline-block;
}
.mainMenuLi a:hover{
	height: 50px;
	line-height: 50px;
	color: #ffffff;
	display: inline-block;
	background-color: #33bb77;
	border-radius: 10px;
}
/*-------------------------------------------*/
/*             Contents 디자인               */
/*-------------------------------------------*/
.leftContents, .mainContents, .rightContents{
	margin-top: 10px;
/*	border: 1px solid green;
	border-radius: 10px;*/
}
.leftContentsFull, .rightContentsFull{
	width: 100%;
	height: 670px;
	border: 1px solid #aabbcc;
	border-radius: 10px;
}
.mainLeft, .mainCenter, .mainRight{
/*	border: 1px solid blue;
	border-radius: 10px;*/
}
.mainLeftFull{
	width: 100%;
	height: 670px;
	border: 1px solid #aabbcc;
	border-radius: 10px;
}
.mainLeft100{
	width: 100%;
	height: 130px;
	border: 1px solid #aabbcc;
	border-radius: 10px;
}
.mainLeft200{
	width: 100%;
	height: 440px;
	border: 1px solid #aabbcc;
	border-radius: 10px;
}
.mainLeft300{
	width: 100%;
	height: 100px;
	border: 1px solid #aabbcc;
	border-radius: 10px;
}
.mainRight100{
	width: 100%;
	height: 130px;
	border: 1px solid #aabbcc;
	border-radius: 10px;
}
.mainRight200{
	width: 100%;
	height: 120px;
	border: 1px solid #aabbcc;
	border-radius: 10px;
}
.mainRight300{
	width: 100%;
	height: 200px;
	border: 1px solid #aabbcc;
	border-radius: 10px;
}
.mainRight400{
	width: 100%;
	height: 220px;
	border: 1px solid #aabbcc;
	border-radius: 10px;
}
.footer{			/* 2.4 footerDiv */
	margin-top: 10px;
	position: relative;
	height: 100px;
	border: 1px solid #aabbcc;
	border-radius: 10px;
}
/*-------------------------------------------*/
/*             Calendar 디자인               */
/*-------------------------------------------*/
.calendarTitle{
	margin: 20px 0px;
}
.calendarText{
	color: blue;
	font-size: 16px;
	font-weight: bold;
}
.calendarDate td{
	width: 24px;
	text-align: center;
	font-size: 17px;
	border: 1px;
	cursor: pointer;
}
.redColor{
	color: red;
}
.blueColor{
	color: blue;
}
.todayDate{
	background-color: pink;
	border-radius: 5px;
}
.clickedDate{
	color: white;
	background-color: green;
	border-radius: 5px;
}
/*-------------------------------------------*/
/*             mainRight 디자인              */
/*-------------------------------------------*/
.designCompanyName{
	margin: 15px 0;
}
.mainRight100 #companyId{
	font-size: 17px;
}
.jobProcess{
	margin-left: 14px;
	color: red;
	font-size: 16px;
}
.clickedJob{
	background-color: #337755;
	border: 1px solid green;
	color: #ffffff;
}
#subulProcessName{
	font-weight: bold;
	color: blue;
}
.subulTableTitle{
	font-size: 16px;
	margin: 20px;
	overflow: auto;
}
.subulProcessList{
	width: 100%;
	height: 350px; 
	margin: 10px;
	overflow: auto;
}
.searchRowCountBtn{
	text-align: center;
	margin-top: 25px;
}
.rowCountBtn{
	margin: 5px;
}
/*-------------------------------------------*/
/*              Table 디자인                 */
/*-------------------------------------------*/
.alignLeft{
	text-align: left;
}
.alignCenter{
	text-align: center;
}
.alignRight{
	text-align: right;
}
.selectItemCode{
	margin: 20px 0px 0px 5px;
}
.itemTableTitle{
	margin-bottom: 10px;
}
#itemCodeList{
	width: 100%;
	height: 120px; 
	padding-left: 5px;
	overflow: auto;
}
#itemGroupCategory, #subulTypeSearch{
	height: 26px;
	font-size: 16px;
}
#info_ItemGroupCategory{
	width: 100%;
	margin-top: 15px;
	padding: 10px;
	border: 1px solid green;
	border-radius: 5%;
}
.itemCode, .itemName{
	color: #000077;
	cursor: pointer;
}
.selectedItemCode, .selectedSubulDate{
	margin-top: 10px;
	font-size: 17px;
}
.subulDataDisplay{
	margin-top: 30px;
}
.subulDataInput{
	margin-top: 10px;
}
.subulDataInput input, .subulDataDisplay input{
	text-align: right;
}
.subulProcessTitle{
	font-size: 20px;
	margin: 20px 0px;
}
.subulListSearch{
	font-size: 20px;
	text-align: right;
}
#subulSearchCondition{
	height: 28px;
	font-size: 17px;
}
